body
{
<<<<<<< HEAD
    color: black;
    text-align: center;
    font-family: 'Lucida Sans';
}
#cabecera
{
    text-align: center;
    background: #33A;
    box-shadow: 0px 2px 28px 0px rgba(233, 7, 7, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}
#cabecera tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8cm;
=======
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
>>>>>>> master
}
#container
{
  width: 70%;
<<<<<<< HEAD
  padding: 2cm;
  text-align: center;
  border: 1px solid rgb(226, 20, 20);
=======
  padding: 1cm;
  text-align: left;
  border: 1px solid #ddd;
>>>>>>> master
  margin: 0 auto;
}
#container h1
{
<<<<<<< HEAD
    font-size: 40px;
=======
    font-size: 20px;
>>>>>>> master
}
