body
{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans';
}
#cabecera
{
    text-align: center;
    font-size: 1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(16, 16, 223);
    box-shadow: 0px 2px 28px 0px rgba(233, 7, 7, 0.5);
    color: rgb(242, 237, 237);
    font-weight: bold;
    margin: 0;
    padding: 0.7cm;
}
#tagline
{   text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.4cm;
}
#container
{
  width: 70%;
  padding: 2cm;
  text-align: center;
  border: 1px solid rgb(226, 20, 20);
  margin: 0 auto;
}
#container h1
{
    font-size: 20px;
    align-items: center;
}
