body
{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans';
}
#container
{
  width: 70%;
  padding: 2cm;
  text-align: center;
  border: 1px solid rgb(226, 20, 20);
  margin: 0 auto;
}
#container h1
{
    font-size: 40px;
}
